.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 71px;
  position: relative;
  margin-top: 0px;
  @media (max-width: 992px) {
    height: 51px;
  }
}

.redCircle {
  width: 854px;
  height: 88px;
  border-radius: 854px;
  background: #95120a;
  filter: blur(250px);
  position: absolute;
  top: 0;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -115%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8.5px;
  z-index: 999;
  will-change: transform;
  transition: all 0.5s ease-in-out 0s;
  @media (max-width: 992px) {
    padding: 15px !important;
  }
}

.isScroll {
  top: -250px;
  @media (max-width: 992px) {
    top: 0;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  background: black;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  justify-content: center;
}

.jumpButton {
  font-family: var(--revolution);
  display: flex;
  height: 43px;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #dfff24;

  box-shadow: 0 4px 16px 0 rgba(255, 23, 16, 0.24);
  @media (max-width: 992px) {
    height: 30px;
    padding: 2px 12px;
    font-size: 12px;
  }
}

.btn {
  width: 20px;
  height: 20px;
  font-size: 20px;
  padding: 0;
  z-index: 103;
  margin-left: 10px;
  overflow: auto;
}

.stroke {
  height: 2px;
  display: block;
  border-radius: 4px;
  transition: all 200ms ease-in-out 0s;
  background-color: #dfff24;
}

.stroke_one {
  transform-origin: left center;
  &.rotate {
    margin-right: 0;

    transform: rotate(45deg);
  }
}

.stroke_two {
  margin: 3px 0;
  transform-origin: left center;
  &.rotate {
    margin: 5px 0;
    transform: scale(0);
  }
}

.stroke_three {
  transform-origin: left center;
  &.rotate {
    margin-left: 0;
    transform: rotate(-45deg);
  }
}

.headerClick {
  text-decoration: none;

  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  @media (max-width: 992px) {
    width: auto;
    border-bottom: 1px solid rgb(228, 228, 228);
    padding: 15px;
  }
}

.menuWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sideBar {
  display: flex;
  flex-direction: column;
  padding: 80px 20px;
  width: 40vw;
  z-index: 102;
  background-color: var(--body-background-color);
  transition: all 200ms ease-in-out 0s;
  position: fixed;
  right: -400vw;
  bottom: 0;
  top: 0;
  overflow: auto;
  @media (max-width: 480px) {
    width: 80vw;
  }
}

.open {
  right: 0;
  height: 100vh;
}
